.App {
    background-color: #2c6385;
    height: 100vh;
    width: 100vw;
    display: flex;
    }
    
    .Body{
      background-color: #5384a2;
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
    }
    
    .ButtonMenu{
      height: 25%;
      padding: 8px;
      color: white;
      overflow: auto;
      border-radius: 8px;
    }
    
    .ScrollList{
      background-color: #2c6385;
      width: 270px;
      min-width: 270px;
      max-width: 270px;
      margin-top: 16px;
      height: 100%;
      padding: 8px;
      color: white;
      overflow: auto;
      border-radius: 8px;
    }
    
    .LeftPanel{
      display: flex;
      flex-direction: column;
      margin: 16px;
    }
    
    .RightPanel{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 16px;
    }
    
    .Description{
      background-color: #2c6385;
      height: 25%;
      padding: 8px;
      border-radius: 8px;
      color: white;
      font-size: 24px;
    }
    
    .Details{
      background-color: #1F1F1F;
      height: 100%;
      padding: 8px;
      margin-top: 16px;
      overflow: auto;
      border-radius: 8px;
      color: white;
      font-size: 20px;
      font-family: 'Consolas';
    }
    
    .Divider{
      margin: 4px;
      padding: 8px;
    }
    
    ::-webkit-scrollbar{
      width: 20px;
    }
    
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }